<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-center">

        <div class="uk-navbar-center-left"><div>
            <ul class="uk-navbar-nav">
                <li><a href="#">My Body</a></li>
                <li><a href="#">Appointments</a></li>
            </ul>
        </div></div>
        <a class="uk-navbar-item uk-logo" href="#">Logo</a>
        <div class="uk-navbar-center-right"><div>
            <ul class="uk-navbar-nav">
                <li><a href="#">Medication</a></li>
                <li><a href="#">Insurance Information</a></li>
            </ul>
        </div></div>

    </div>
</nav>

 