.box{
/* width: 200px;
height: 200px; */
/* border:1px black solid; */
overflow:auto;

}
   
/* .spacer {
    margin-top: 20px;
    margin-bottom: 20px;
} */

.footer{
    margin-top:20px;

}
/* .footer-descrip {
    font-size: 2rem;
    float: top;
} */
.cardBody {
    margin-bottom: 2rem;
}